@import '../../style/main.scss';

.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

        li {
            width: 100%;
            background-color: $red-color;
            text-decoration: none;
            color: $white;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px 10px 15px;
            height: 54px;
            border-radius: 10px;

            h2 {
                align-self: center;
            }

            img {
                cursor: pointer;
            }

            .down {
                transform: rotate(180deg);
            }

        }


        .p-container {
            background-color: $very-light-grey-color;
            border-radius: 0 0 5px 5px;
            padding: 1.2rem 1rem;
            line-height: 1.6rem;
            width: 100%;
           
            
        }

        
    
}

@media (max-width:724px) {
    .collapse {
       
        li {
            height: 30px;
            padding: 10px 6px 10px 10px;
            border-radius: 5px;
            h2 {
                font-size: 13px;
            }

            img {
                scale: 1.6;
            }
        }

        .p-container {
            padding: 0.8rem 0.5rem;
            line-height: 1rem;
            p {
                font-size: 12px;
            }
        }
    }
}