@import '../../style/main.scss';

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;

    div {
        display: flex;
        align-items: end;
        gap: 5px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 57px;
        
        a {
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
        

        .underlined {
            text-decoration: underline;
        }

        .no-underline {
            text-decoration: none;
        }
    }
}



