@import '../../style/main.scss';

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem;

    div {
        display: flex;
        align-items: end;
        gap: 5px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 57px;
        a:hover {
            text-decoration: underline;
        }
    }
}



