@import '../../style/main.scss';


.gallery {
    background-color: $very-light-grey-color;
    border-radius: 25px;
    width: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    
}

@media (max-width:1024px) {
    .gallery {
        grid-template-columns: repeat(2, 49%);
    }
    
}

@media (max-width:724px) {
    .gallery {
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 0;
        margin: 1rem 0;
        gap: 1rem;
    }
    
}