@import '../../style/main.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $red-color;
    gap: 2rem;
    margin-bottom: 2rem;
    h1 {
        font-size: 280px;
    }

    h2 {
        font-weight: 500;
    }

    a {
        text-decoration: underline;
    }
}

@media (max-width:1024px) {

    .error {
        h1 {
            font-size: 200px;
        }
    }
   
}